<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-light bg-light static-top">
    <!-- <div class="container"> -->
    <a class="float-left navbar-brand" href="/"><b>Sportup</b> Live</a>
    <div class="col-12 float-right col-md-3">
      <a class="btn btn-primary btn-lg" href="/signup-page">Registrierung</a>
      <a class="btn btn-primary btn-lg" href="/login-page">Login</a>
    </div>
    <!-- </div> -->
  </nav>