<%- include('partials/head') %>

<body class="bg-gradient-primary">

  <!-- Navigation -->
  <%- include('partials/navbar') %>



  <%- include('partials/login-partial') %>

  <%- include('partials/footer') %>

</body>

</html>